.feedback {
  background: $blue;
  color: $white;
  padding-top: 62px;
  padding-bottom: 96px;

  @media (max-width: $tablet) {
    padding-top: 55px;
    padding-bottom: 87px;
  }

  @media (max-width: $mobile) {
    padding-top: 7px;
    padding-bottom: 25px;
  }
}

.feedback__content {
  width: 49%;
  padding-left: 51%;
  position: relative;

  &::before {
    @include pseudo;
    top: -150px;
    left: -192px;
    width: 671px;
    height: 640px;
    background-image: url("../img/triangles-desktop.svg");
    background-repeat: no-repeat;
    background-size: 671px 640px;
  }

  @media (max-width: $tablet) {
    margin-left: 0;
    padding-left: 0;
    width: 100%;

    &::before {
      display: none;
    }
  }
}

.feedback__wrapper {
  @include container;
  max-width: 1190px;
  background-image: url("../img/paper_airplane-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 0 37%;
  background-size: 511px 288px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/paper_airplane-desktop@2x.png");
  }


  @media (max-width: $tablet) {
    background-image: none;
    max-width: 595px;
  }
}

.feedback h2 {
  @include font-info(36px, 400, 51px);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-bottom: 0;

  @media (max-width: $tablet) {
    @include font-info(32px, 400, 45px);
    margin-bottom: 15px;
  }

  @media (max-width: $mobile) {
    @include font-info(28px, 400, 39px);
    margin-bottom: 12px;
  }
}

.feedback p {
  @include font-info(16px, 400, 22px);
  margin-top: 11px;
  margin-left: 5px;

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-left: 0;
  }
}

.feedback form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 10px;

  @media (max-width: $tablet) {
    margin-top: 55px;
    padding-left: 5px;
    margin-right: 0;
  }

  @media (max-width: $mobile) {
    margin-top: 26px;
    padding-left: 0;
  }
}

.feedback input,
.feedback textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  @include font-info(16px, 400, 22px);
  color: $white;
}

.feedback input[type="text"],
.feedback input[type="tel"] {
  padding: 16px 21px;
  width: 100%;

  @media (max-width: $tablet) {
    padding-left: 16px;
    padding-top: 15px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 20px;
  }
}

.feedback textarea {
  width: 100%;
  padding-left: 17px;
  padding-bottom: 20px;
  padding-top: 12px;
  margin-top: 40px;

  @media (max-width: $tablet) {
    margin-top: 45px;
    padding-left: 16px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    height: 102px;
  }
}

.feedback li {
  width: 47.5%;

  @media (max-width: $tablet) {
    width: 47%;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    width: 100%;
  }
}

.feedback ul {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $mobile) {
    margin-bottom: 0;
  }
}

.feedback__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 26px;

  @media (max-width: $tablet) {
    margin-top: 30px;
  }

  @media (max-width: $mobile) {
    margin-top: 27px;
  }
}

.feedback button {
  color: $white;
  width: 100%;
  padding: 12px 30px 12px 25px;

  @media (max-width: $tablet) {
    padding-left: 27px;
    padding-top: 17px;
    padding-right: 27px;
  }

  @media (max-width: $tablet) {
    padding-top: 15px;
    padding-bottom: 13px;
  }
}

.feedback input[type="checkbox"] + label {
  @include font-info(14px, 400, 16px);
  opacity: 0.8;
  padding-left: 35px;
  position: relative;
  display: block;
}

.feedback input[type="checkbox"] + label::before {
  @include pseudo;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid $white;
  cursor: pointer;
}

.feedback input[type="checkbox"]:checked + label::after {
  @include pseudo;
  left: 5px;
  top: 5px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 7px;
}

.feedback input[type="checkbox"] {
  &:hover + label::before,
  &:focus + label::before {
    border: 1px solid $grey;
  }
}

.feedback__wrap p {
  width: 46%;

  @media (max-width: $tablet) {
    width: 47.5%;
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.feedback__wrap .feedback__checkbox {
  padding-top: 5px;

  @media (max-width: $tablet) {
    width: 46%;
    padding-top: 10px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding-top: 15px;
  }
}
