$white: #ffffff;
$grey: #788891;
$grey-text: #666666;
$dark-grey: #1b2d37;
$blue: #00b2ff;
$grey-border: #ebebeb;
$dark-grey-opacity: rgba(27, 45, 55, 0.7);
$blacktoning-bg: rgba(0, 0, 0, 0.3);
$dark-grey-border: #626962;


$tablet: 1023px;
$mobile: 767px;
$retina-dppx: 2dppx;
